.mapDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

b {
  color: orange;
}

br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
}

calcite-label {
  --calcite-color-text-1: #9ca3af;
  --calcite-font-size--1: 1.1rem;
  /* margin-top: 1vh; */
  margin-left: 15px;
  margin-top: 5px;
  /* border-color: rgb(0, 0, 0, 0); */
}

calcite-tab,
calcite-tabs {
  --calcite-color-border-3: #555555;
  --calcite-color-border-2: #555555;
  --calcite-color-border-1: #555555;
}

calcite-action-bar {
  --calcite-color-border-3: #555555;
  --calcite-color-text-3: #bfbfbf;
}

calcite-shell {
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-text-1: #ffffff;
  --calcite-color-background: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-shell-panel {
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-foreground-2: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-panel {
  overflow-y: auto;
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-foreground-2: #2b2b2b;
  --calcite-color-text-2: #ffffff;
  background-color: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-list {
  overflow-y: auto;
  --calcite-color-border-3: #555555;
}

/* Utility Chart Panel */
.lotNumberImage {
  display: flex;
  padding-left: 20px;
}

/* Header */
.headerTitle {
  color: white;
  margin-left: 1rem;
  font-size: 2.6vh;
  max-width: 290px;
  margin-top: auto;
  margin-bottom: auto;
}

.date {
  color: gray;
  font-size: 0.8rem;
  width: 150px;
  height: 20px;
  margin-top: auto;
  margin-left: auto;
}

.dropdownFilter {
  height: 50px;
  width: 70%;
  border-color: rgb(0, 0, 0, 0);
  padding-top: 10px;
  margin-left: -10rem;
}

/* total Progress */
.totalProgressNumber {
  color: #6ede00;
  font-size: 3rem;
  font-weight: bold;
  font-family: "calibri";
  margin-left: 4%;
}

.totalProgressNumber2 {
  color: white;
  font-size: 2vh;
  font-weight: normal;
  margin-left: 4%;
  margin-top: 8%;
}

/* Information panel */
.informationDiv {
  padding-right: 10px;
}
